/* Overlay to dim the background */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup container */
.popup-container {
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* Tabs container */
.tabs-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 3px;
  flex-direction: column;
}

/* Tab buttons */
.tab-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.tab-button-save {
  background-color: rgb(31, 218, 78);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.tab-button-delete {
  background-color: rgb(165, 2, 2);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.tab-button.active {
  background-color: #0056b3;
}

.tab-button:hover {
  background-color: #0056b3;
}

/* Content inside the popup */
.popup-content {
  height: 100%;
  width: 100%;
  margin: 12px;
  font-size: 16px;
  text-align: center;
  flex-direction: column;
}

/* Scrollable container */
.editor-container {
  max-height: 44vh; /* 80% de la hauteur de l'écran */
  height: 44vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

.editor-containercaracter {
  max-height: 34vh; /* 80% de la hauteur de l'écran */
  height: 34vh;
  overflow-y: auto;
  border: 1px solid #0a0101;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}


.button-container {
  display: flex;
  flex-direction: row; 
  justify-content: left; 
  align-items: center; 
  gap: 15px; 
}

.divGlobal {
  border: 1px solid white;
  padding: 10px;
}

.divButton {
  display: flex;
  flex-direction: row; 
  justify-content: left; 
  align-items: center; 
  gap: 10px; 
  margin: 3px;
}

/* Button Styles */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
      min-width: 120px;
      padding: 0 25px;
  }
}


.button-74:disabled {
  background-color: #d3d3d3; /* Gris clair */
  border-color: #a0a0a0; /* Bordure grisée */
  color: #808080; /* Texte grisé */
  cursor: not-allowed; /* Curseur interdit */
  box-shadow: none; /* Supprime l'ombre */
}

.button-74:disabled:hover {
  background-color: #d3d3d3; /* Même couleur pour éviter l'effet hover */
}



/* Additional Button Styles */
.button-45 {
  align-items: center;
  background-color: #FFE7E7;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33px;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  transition: border .2s ease-in-out, box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}

.button-45:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.button-45:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.button-container-save {
  display: flex;
  justify-content: flex-start; /* Aligne le contenu à gauche */
  margin-top: 10px; /* Pour espacer du contenu précédent */
}

.button-container-save1 {
  display: flex;
  justify-content: flex-end; /* Aligne le contenu à gauche */
  margin-top: 10px; /* Pour espacer du contenu précédent */
  gap: 15px;
}